.Header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HeaderLineLeft {
  animation-duration: 1s;
  animation: slidein 1.5s linear 1;
  width: 47.5%;
  height: 1vh;
  border-bottom: 1px solid #a4a4a4;
}
.HeaderLineRight {
  animation: slidein 1.5s linear 1;
  width: 47.5%;
  height: 1vh;
  border-bottom: 1px solid #a4a4a4;
}

.HeaderCircleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.HeaderCircle {
  border: 1px solid #a4a4a4;
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
}

.CircleShadowsContainer {
  position: absolute;
  top: 0;
}

.HeaderCircleShadowTopContainer {
  width: 6vw;
  height: 2.7vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.HeaderCircleShadowTop {
  background-color: black;

  animation: draw-circle 2s linear 1;
}

.HeaderCircleShadowBottomContainer {
  width: 6vw;
  height: 2.7vw;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.HeaderCircleShadowBottom {
  background-color: black;

  animation: draw-circle 2s linear 1;
}

@keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 47.5%;
  }
}

@keyframes draw-circle {
  0% {
    width: 6vw;
    height: 2.8vw;
  }
  75% {
    width: 6vw;
    height: 2.8vw;
  }
  100% {
    width: 0vw;
    height: 2.8vw;
  }
}
