.Header {
  margin-top: 2%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HeaderLineLeft {
  animation: slidein 1.5s linear 1;
  width: 47.5vw;
  height: 1vh;
  border-bottom: 1px solid #a4a4a4;
}
.HeaderLineRight {
  animation: slidein 1.5s linear 1;
  width: 47.5vw;
  height: 1vh;
  border-bottom: 1px solid #a4a4a4;
}

@keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 47.5vw;
  }
}

.HeaderBracketsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
}
.HeaderBrackets {
  width: 5vw;
  height: 5vw;
  background-color: black;
  border: 1px solid #a4a4a4;
  border-radius: 15%;
}
.HeaderBracketsShadow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1;
  height: 5.2vw;
  width: 3vw;
  background-color: black;

  animation: shrink-header-brackets-shadow 3s linear 1;
}

@keyframes shrink-header-brackets-shadow {
  0% {
    width: 5vw;
  }
  50% {
    width: 5vw;
  }
  100% {
    width: 3vw;
  }
}

.Dots::before {
  font-size: 150%;
  color: rgb(252, 252, 142);
  animation: typing 1.5s 3s infinite linear;
  content: "";
}

@keyframes typing {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
